[user]
	email = gerard.capes@manchester.ac.uk
	name = Gerard Capes
[core]
	editor = vim
[diff]
	tool = meld
[merge]
	tool = meld
[difftool]
	prompt = false
[alias]
	mc = merge --no-ff
	ap = add -p
	dt = difftool
	d = difftool
	s = status
	ds = difftool --staged
	dts = difftool --staged
	ca = commit --amend
[apply]
	whitespace = fix
